<h1>Editar Usu치rio</h1>

<%= link_to "P치gina Inicial", users_path %>
<%= form_with model: @user, local: true do |form|%>
   <div>
    <%= form.label :name, "Usu치rio"%>
    <%= form.text_field :name%>
   </div>
   <div>
    <%= form.label :email, "Email"%>
    <%= form.email_field :email%>
   </div>
   <div>
    <%= form.submit "Salvar" %>
   </div>
<% end %>
<hr>
<%= button_to "Excluir Usu치rio", user_path(@user), method: :delete%>
<%= link_to "Voltar", users_path%>
